

@media only screen and (min-width: 600px) {

    *{
        margin: 0;
        padding: 0;
    }

    .img{
        position: fixed;
        height:50px;
        margin-left: 4rem;
        top: 0.5rem;
       
    }
    
    .home{
        position:fixed;
        font-weight: bold;
        top: 20px;
        width: 10rem;
        margin-left: 87rem;
    }
    
    .log{
       
        color: aliceblue;
        background-color: rgb(2, 2, 2);
        width: 5rem;
        top: 6rem;
        margin-left: 47rem;
        position: fixed;
        padding-left: 1rem;
        height: 2rem;
    }
    
    .font{
        text-align: center;
        padding-right: 8rem;
        height: 2rem; width: 3rem;
        cursor: pointer;
        left: 42rem;
        position: fixed;
        top: 10.5rem;
        
       
    }
    
    .sign{
        top: 10rem;
        height: 3rem;
        font-weight: bold;
        border-radius: 15rem;
        font-size: 1rem;
        position: fixed;
        left: 37rem;
        width: 26rem;
        padding-left: 6rem;
        
    }
    
    
    
    .sign:hover{
        
        background-color: rgb(226, 226, 226);
        
    }
    
    .bggg{
    
        background-color: grey;
        height: 4rem;
        width: 100%;
        position: fixed;
      
    }
       
    
    .back{
        
        background-image: url(../images/pic.jpg);
        background-size: cover;
        height: 45.6rem;
       
    }
    
    
    
    .photo{
       
        margin-Left:55px; 
        padding-top: 17rem;
        display: flex;
        gap: 43rem;
    }
    
    
    .dec{
        font-family: monospace;
    
    }
    
    .in{
        position: absolute;
        top: 10rem;
       
    }
    }

    











