.deta{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding-top: 1rem;
   font-size: 1.7rem;
   font-weight: bold;
}

.flower{
    display: grid;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

.hhi{
    display: grid;
    gap: 1rem;
    font-size: 1.5rem;
    padding-top: 3rem;
    text-align: center;
    color: rgb(8, 36, 126);
    font-weight: bold;
    

}

.noon{
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 8px;
    margin-left: 23rem;
    width: 15rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: rgb(75, 73, 73);
    

}

.soon{
    height: 3.5rem;
    font-size: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    border-radius: 8px;
    padding-left: 1rem;
    background-color: rgb(247, 244, 244);
    
   
}

.addi{
    display: flex;
    gap: 38rem;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 2rem;
     
}



.snippet{
    background-image: url(../images/pic.jpg);
    background-size: cover;
    height: 75rem;
    padding-top: 8rem;
}

.eat{
    width: 6rem;
    border-radius: 8px;
    height: 2.5rem;
    margin-left: 3rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blue;
    background-color: rgb(117, 101, 129);

}

.sleep{
    width: 6rem;
    border-radius: 8px;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    background-color: rgb(91, 88, 88);
   
}

.okay{
    background-color: #f9f9f9; 
    padding: 20px;           
    border-radius: 10px;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-right: 20rem;  
    margin-left: 15rem;
    width: 60rem;
    
    
}