.beauty table{
   margin-top: 2rem;
   margin-left: 3.5rem;
   border-collapse: collapse;
    
}

.self{
   
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: red;
   
    
}


.beauty td,th,tr{
    border: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    text-align: center;
   
}
.beauty th{
    font-size: 20px;
    color: blue;
    color: #6c09aa;
    
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


.shuttle{
    margin-top: 1rem;
    display: flex;
    text-align: center;
    margin-left: 33rem;
    padding-left: 1rem;
    padding-right: 2rem;
    height: 2.5rem;
    padding-top: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(104, 100, 100);
    background-color: rgb(95, 91, 91);
    /* background-color: red; */
    color: white;
    width: 6rem;
    
}

.shuttle:hover{
    background-color: rgb(51, 50, 50);
}


.beauty td{
 font-size: 18px;
 font-weight: bold;
}

.finish{
    background-image: url(../images/pic.jpg);
    background-size: cover;
    height: 45.6rem;
}

.beauty input{
    width: 4.5rem;
    height: 2rem;
    border-radius: 4px;
    border-color: black;
    
}
.beauty textarea{
    height: 2rem;
    border-radius: 4px;
    border-color: black;
}

.heaven{
    background-color: #f9f9f9;          
    border-radius: 10px;     
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    /* max-width: 85rem;   */
    width: 70rem;
    padding: 30px;
    margin-top: 8rem;
    margin-left: 11rem;
    height: 24rem;
}